@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Changes colors
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Css product page */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.back-prod{
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 30%, rgba(9,9,121,1) 64%, rgba(0,212,255,1) 175%);
}


.game-table {
  width: 100%;
  font-size: 18px; 
  text-align: center; /* Center-align text */
  color: #fff; /* Default text color */
  border-collapse: collapse;
  background-color:#020a4f;
}

.game-table tr {
  padding: 5px; /* Padding inside table cells */
  border: 2px solid rgb(255, 255, 255); 
}

.prod_btn{
  width: 100%;
  margin-top: 10px;
  color: #f0e8e8;
  background:#6c0979;
  padding-top: 10px;
  padding-bottom: 10px;

}


.prod_btn:hover{
  background: #c50edd;
}

.banner-game{
  background-color: #020a4f;
  color: #fff;
  width: 100%;
  border: 2px solid #020a4f;
}

.bg-dark-night{
  background-color: #020a4f;
}

* {
  --tw-ring-color: rgb(0 0 0 / 0) !important;
}



* {
  box-sizing: border-box;
}

p {
  margin-top: 20px;
  line-height: 1.5;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  background: rgb(30 64 175 / var(--tw-bg-opacity));
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  width: 100%;
  margin-right: 10px;
  padding: 20px 30px;
  background: #020a4f;
  cursor: pointer;
  color: #ffffff;
  transition: background 0.1s, color 0.1s;
}
.label:hover {
  background: #6497ff;
}
.label:active {
  background: rgb(255, 255, 255);
  margin-bottom: 0px;
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label  {
  background:#020a4f;
  color: #ffffff;
}
@media (min-width: 600px) {
  .label {
    width: auto;
  }
}
.panel {
  display: none;
  padding: 20px 30px 30px;
  background:#020a4f;
  color:white;

}
@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}
.input:checked + .label + .panel {
  display: block;
}
/* Change color of space between tab and panel */
.input:checked + .label::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px; /* Adjust the height of the space as needed */
  background-color:rgb(30 64 175); /* Change the color of the space */
  margin-top: 10px; /* Adjust the top margin to create space */
}

/*CSS BASKET*/
.top_bar_basket{
  background-color:#020a4f;
}
.basket_btn{
  width:35%;
}

.total_box{
  background-color: #020a4f;
}
.input_btn{
  background-color: #020a4f;
    
}

.slick-slide > div {
  margin: 0 15px;
}

.slick-dots li button:before {
  color: gray !important;
}

.slick-dots li.slick-active button:before {
  color:white !important;
}


.bg-salmon {
  background-color: salmon;
  color: white;
}