@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Changes colors
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*Login page styling*/
.card1 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #0E0C23;
  width: 400px;
  height: 620px;
  align-items: center;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 5px; /* 5px rounded corners */
}
.card2 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #0E0C23;
  width: 400px;
  height: 620px;
  align-items: center;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 5px; /* 5px rounded corners */
}


.grid-container {
  display: grid;
  grid-template-columns:  auto auto auto auto;
  background-color: #062656;
  padding-left: 40px;
  column-gap: 20px;
}
.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  align-items:center;
}
.grid-item2 {
  grid-column-start: 3;
  grid-column-end: 5;
  align-items: center;
}
.loginButton {
  background-color: #3EC744;
  border-radius: 5px; /* 5px rounded corners */
  text-align: center;
  height: 30px;
  width: 150px;
}
.loginButtonContainer{
  display: flex;
  align-items: center;
  justify-content:end; /* Optional for horizontal alignment */
}
.cardBox{
  padding: 30px;
  align-items: center;
  justify-content:center; /* Optional for horizontal alignment */
}
.H1Login{
  text-align: center;
  font-size: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.loginAlternativeContainer{
  display: flex;
  align-items: center;
  justify-content:center; /* Optional for horizontal alignment */
}


.grid-div1{
  grid-column-start: 1;
  grid-column-end: 3;
  margin-right: 10px;
}
.grid-div2{
  grid-column-start: 3;
  grid-column-end: 3;
  text-align:justify;
}
.grid-div3{
  grid-column-start: 4;
  grid-column-end: 6;
}
.grid-containerDivider {
  display:grid;
  grid-template-columns:  80px 80px 30px 80px 80px;
  margin-top: 20px;
}
.subtitle{
  text-align: center;
  margin-top: 20px;
  text-indent: 5px;
  padding-inline: 10px;
}
.grid-benefit{
  margin-top: 50px;
  display: grid;
  grid-template-columns:  auto auto;
  grid-template-rows: auto auto;
  padding: 10px;
  column-gap: 40px;
  row-gap: 80px;
}
.benefit{
  font-size: 15px;
  text-align: center;
  font-family:monospace
}
.registerContainer{
  display: flex;
  align-items: center;
  justify-content:center; /* Optional for horizontal alignment */
  margin-top: 50px;

}
.registerButton{
  background-color: #3EC744;
  border-radius: 5px; /* 5px rounded corners */
  text-align: center;
  height: 30px;
  width: 300px;
}
.desc1{
  margin: 5px;
  align-items: center;
}
.desc2{
  margin: 5px;
  align-items: center;
}
.desc3{
  margin: 5px;
  align-items: center;
}
.desc4{
  margin: 5px;
  align-items: center;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/*Css product page */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 500px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.game-table {
  width: 100%;
  font-size: 18px; /* You can adjust the font size as needed */
  text-align: center; /* Center-align text */
  color: #fff; /* Default text color */
  border-collapse: collapse; /* Collapse border spacing */
  background-color: #020a4f;
}

.game-table tr {
  padding: 5px; /* Padding inside table cells */
  border: 1px solid #f0e8e8; /* Black border around cells */
}

.prod_btn{
  width: 100%;
  margin-top: 10px;
  background-color: #3EC744;
  color: #f0e8e8;
}
.product.data.items {
  display: flex; /* Use flexbox for the container */
  gap: 20px; /* Space between items */
}

.data.item.title {
  border-radius: 5px;
  font-family: quantico, sans-serif;
  font-size: 20px;
  letter-spacing: 1.54px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0; /* Remove margin-bottom for spacing */
}

.data.item {
  background-color: #020a4f;
  padding: 10px; /* Add padding for spacing */
}

/* Optional: Adjust the styling of active title if needed */
.product.data.items>.title.active {
  background-color: #020a4f;
  color: #fff; /* Set text color for active title */
}
.banner-game{
  background-color: #020a4f;
  color: #fff;
  height: 50px;
  width: 100%;
}