@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Changes colors
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/


  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    /* Define appearance property with vendor prefixes */
    -webkit-appearance: none; /* Safari and Chrome */
    -o-appearance: none; /* Opera */
    appearance: none; /* Standard */
  }



.cardButton {
  background-color: #00052d;
  background: #00052d;
  border: #00052d;
}

.cardButton:hover {
  background-color: #6c0979;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Css product page */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.bg-blue-gradient{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 30%, rgba(9,9,121,1) 64%, rgba(0,212,255,1) 175%);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/graystroke');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color: white;
  text-transform: uppercase;
}

.bebas-neue-regularLarge {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
  color: white;
  text-transform: uppercase;
}


.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-lightLarge {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: x-large;

}


.game-table {
  width: 100%;
  text-align: center; /* Center-align text */
  color: #fff; /* Default text color */
  border-collapse: collapse;
  border-radius: 8px;
  background-color:#00052d;

}

.game-table td{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.game-table th{
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.game-table tr {
  padding: 5px; /* Padding inside table cells */
  border-bottom: 1px solid rgb(133, 133, 133); 
  
}
.row-1-gt{
  border-top:1px solid rgb(133, 133, 133); 
}


.game-table tr:nth-child(even) {
  background-color: #020a4f;
}



.prod_btn{
  width: 100%;
  margin-top: 10px;
  color: #f0e8e8;
  background:#c50edd;
  padding-top: 10px;
  padding-bottom: 10px;

}

.prod_btn:hover{
  background: #6c0979;
}

.banner-game{
  background-color: #020a4f;
  color: #fff;
  width: 100%;
  border-radius: 8px;
}

.bg-dark-night{
  background-color: #020a4f;
}

.bg-elite-blue{
  background-color: #0a1366;
}

* {
  --tw-ring-color: rgb(0 0 0 / 0) !important;
}


* {
  box-sizing: border-box;
}


p {
  margin-top: 20px;
  line-height: 1.5;
}


.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  background: rgb(30 64 175 / var(--tw-bg-opacity));
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}


.input {
  position: absolute;
  opacity: 0;
}


.label {
  width: 100%;
  margin-right: 10px;
  padding: 20px 30px;
  background: #020024;
  cursor: pointer;
  color: #ffffff;
  transition: background 0.1s, color 0.1s;
  font-family: "Roboto", sans-serif;
  font-weight: 300; 
}
.label:hover {
  background: #6497ff;
}
.label:active {
  background: rgb(255, 255, 255);
  margin-bottom: 0px;
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label  {
  background:#020024;
  color: #ffffff;
}
@media (min-width: 600px) {
  .label {
    width: auto;
    border-radius: 8px;
  }
}
.panel {
  display: none;
  padding: 20px 30px 30px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 30%, rgba(9,9,121,1) 64%, rgba(0,212,255,1) 175%);
  color:white;
  font-family: "Roboto", sans-serif;
  font-weight: 300; 
  border-radius: 8px;
  margin-top: -5px;

}


@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}
.input:checked + .label + .panel {
  display: block;
}
/* Change color of space between tab and panel */
.input:checked + .label::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px; /* Adjust the height of the space as needed */
  background-color:rgb(30 64 175); /* Change the color of the space */
  margin-top: 10px; /* Adjust the top margin to create space */
}


/*CSS BASKET*/

.basket_btn{
  width:50%;
  color: #f0e8e8;
  background:#c50edd;
  padding-top: 8px;
  padding-bottom: 8px;

}
.basket_btn:hover{
  background: #6c0979;
  
}

.total_box{
  background-color: #050347;
  border-radius: 8px;
}

.basket_card{
  background: rgb(5,3,71);
  background: linear-gradient(180deg, rgba(5,3,71,1) 0%, rgba(6,74,164,1) 100%);
  border: 0px;
  border-radius: 8px;
}
.input_btn{
  background-color: #020a4f;
    
}

.slick-slide > div {
  margin: 0 15px;
}

.slick-dots li button:before {
  color: gray !important;
  font-size: 15px !important;
  line-height: 15px !important;
}

.slick-dots li.slick-active button:before {
  color:white !important;
  font-size: 20px !important;
  line-height: 20px !important;
}

 .slick-prev:before, .slick-next:before  {
  content: '' !important;
}

/* CHECKOUT CSS*/
.summary-box{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(108,9,121,1) 100%);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300; 
 border: 0px;
}

.card-box{
  background: rgb(2,0,36);
  background: linear-gradient(180deg,rgb(2,0,36), rgba(6,0,112,1) 34%, rgb(34, 89, 255) 100%);
  border: 0px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300; 
}

/*To give shadow to div */ 
.shadowed-div {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.pay-btn{
  background:#c50edd;
}


.pay-btn:hover{
  background: #6c0979;
}

.input-field:focus {
  border-color: #6c0979; /* Change to the desired color */
  box-shadow: 0 0 0 2px #6c0979; /* Optional: Add a box shadow for emphasis */

}

 
.bg-salmon {
  background-color: salmon;
  color: white;
}




/* components/ProgressTracker.module.css */
.progressBar {
  transition: width 0.3s ease-in-out; /* Example CSS module style */
}

.cardModalX {
  height: 1.5rem;
  width: 1.5rem;
  place-self: end;
  text-align: end;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 100%;
}

.cardModalX:hover {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: flex;
}
/*Rating stars*/

.stars-input{
  display: none;
}

.star{
  cursor: pointer;
}
.overflow-y-auto::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar to 0 to hide it */
  background: transparent; /* Set the background color of the scrollbar */
}
.tab:hover {
  color: purple !important;
}

.tab:hover svg {
  fill: purple !important;
}
.tab:hover .tab-label {
  color: purple !important;
}
/*MODAL BUTTONS*/
.confirm-btn{
  background:#0a1366;
  box-shadow: 0 0 0 2px #050347; /* Optional: Add a box shadow for emphasis */
  width: 180px;
  margin-left: 3px;
}
.confirm-btn:hover{
  background: #050347;
  box-shadow: 0 0 0 2px #050347; /* Optional: Add a box shadow for emphasis */
  width: 180px;
  margin-left: 3px;
}

.dismiss-btn{
  background: transparent;
  border-color: #0a1366; /* Change to the desired color */
  box-shadow: 0 0 0 2px #0a1366; /* Optional: Add a box shadow for emphasis */
  width: 180px;
  margin-right: 3px;
  
}
.dismiss-btn:hover{
  background: #0a1366;
  border-color: #0a1366; /* Change to the desired color */
  box-shadow: 0 0 0 2px #050347; /* Optional: Add a box shadow for emphasis */
  width: 180px;
  margin-right: 3px;
}

.deleteAccount-btn{
  background: transparent;
  border-color: #0a1366; /* Change to the desired color */
  box-shadow: 0 0 0 2px #0a1366; /* Optional: Add a box shadow for emphasis */
  width: 350px;
  margin-right: 3px;
  
}
.deleteAccount-btn:hover{
  background: #0a1366;
  border-color: #0a1366; /* Change to the desired color */
  box-shadow: 0 0 0 2px #050347; /* Optional: Add a box shadow for emphasis */
  width: 350px;
  margin-right: 3px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}